* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #333;
    padding: 18px;
}

nav {
    max-width: 700px;
    margin: auto;
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
    padding: 5px;
    display: block;
}

nav a:hover {
    color: #008000;
}

main {
    width: 700px;
    max-width: 700px;
    margin: 30px auto;
    text-align: center;
    background-color: #ededed;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #333333;
    font-size: 38px;
    margin-bottom: 25px;
}

main img {
    display: block;
    margin: 0 auto 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ddd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .35);
    padding: 0;
}

p {
    padding: 0;
    line-height: 1.8;
    font-size: 18px;
    text-align: left;
}

aside {
    width: 700px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333333;
    border-radius: 5px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    margin-top: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 40px;
    font-size: 18px;
    border-top: 2px solid #222;
}